{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/Styles/Doctorsstyle.css'%}">
    <title>Doctors</title>
</head>
<body>
    <div class="titlebar">
        <div class="leftside">
                
                    <a href="/">Home</a>
                
                
                    <a href="doctors">Doctors</a>
               
               
                    <a href="about.html">about us</a>
                
        </div>
        <div class="rightside">
                <a href="login">Login</a>
        </div>
    </div>
    <div class="contentswrapper">
    {% for docs in Doctors%}
        {%if docs.is_doctor%}
        <div class="contentwrapper">
            <div class="imagewrapper">
                <img src="{{docs.img.url}}" width=300 , height="300">
             </div> 
            <div class="namewrapper">
                <p>Dr.{{docs.first_name}}</p>
            </div>
            <div class="speciality">
                <p>Speciality:{{docs.speciality}}</p>
            </div>
        </div>
        {%endif%}
     
    {%endfor%}
    </div>
</body>
</html>