{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>login</title>
    <link rel="stylesheet" href="{% static 'styles/loginstyle.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
   <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <div class="titlebar">
        <div class="leftside">
            <a href="/">Home</a>
        </div>
    </div>
        <form action="" method="POST">
                {% csrf_token%}
        <div class="login-box">
            <div class="heading">
            <h1>Login</h1>
            </div>
            <div class="Entry">
                <div class="textbox">
                    <i class="fas fa-user" ></i>
                    <input type="text" placeholder="Username" name="username">
                </div>
                <div class="textbox">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Password" name="password">
                </div>
            
                <div class="submission">
                    <input class="button" type="submit"  value="Login" >
                </div>
            </div> 
           <!-- <div class="link-wrapper">
                <p>Forgot the password to <a href="forgot.html">Reset</a> click here..</p>
            </div>
        -->     
        </div>
        </form>
    
   

</body>
</html>