{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Attendand</title>
        <link rel="stylesheet" href="{%static 'Styles/AddPatientstyle.css'%}">
    </head>
    <body>
        <div class="titlebar">
            <div class="leftside">
                    
                        <a href="/">Home</a>
                    
                    
                        <a href="doctors">Doctors</a>
                   
                   
                        <a href="about.html">about us</a>

                        {%if user.is_doctor%}
                        <a href ="patient">patient</a>
                        {%elif user.is_staff%}
                        <a href="addpatient">Add patient</a>
                        {%endif%}
                    
            </div>
            <div class="rightside">
                {%if user.is_authenticated%}
                    <label for="">hello,{{user.first_name}}</label>
                    <a href="logout">logout</a>
                {%else%}
                    <a href="login">Login</a>
                {%endif%}
            </div>
        </div>
        <form method="POST">
             {% csrf_token%}
            <div class="heading">
                <h1>Patient registration</h1>
             </div>
             <div class="container">
             <div class="input">
                 <div class="name">
                    <label for="first name">First name</label>
                    <input type="text" class="firstname" name="firstname" >
                </div>
             </div>
             <div class="input">
                <div class="name">
                    <label for="last name">Last name</label>
                    <input type="text" class="lastname" name="lastname">
                </div>
             </div>
             <div class="input">
                 <div class="gender">
                     <label for="gender">Gender</label>
                    <input type="radio" value="male" name="gender" >
                    <label for="male">male</label>
                    <input type="radio" value="female" name="gender">
                    <label for="female">female</label>
                 </div>
             </div>
             <div class="input">
                <div class="phone">
                    <label for="phone">Phone number</label>
                    <input type="text" class="inputphone" name= "phonenumber" >
                </div>
             </div>
             <div class="input">
                 <div class="email">
                    <label for="email">email</label>
                    <input type="text" class="inputemail" name="email" >
                 </div>
             </div>
             <div class="input">
                <div class="address">
                     <label for="address">Address</label>
                     <input type="text" class="address" name="address" >
                 </div>
             </div>
            <div class="Register">
                <input type="submit" value="Register" class="submit">
            </div>
            {%for message in messages%}
            <div class="saved">
                {{message}}
            </div>
            {%endfor%}
             </div>
        </form>
    </body>
</html>