{%load static%}
<html>

    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{%static 'styles/Homestyle.css'%}">
    </head>
    <body>
        
        <div class="titlebar">
            <div class="leftside">
                    
                        <a href="/">Home</a>
                    
                    
                        <a href="doctors">Doctors</a>
                   
                   
                        <a href="about.html">about us</a>

                        {%if user.is_doctor%}
                        <a href ="patient">patient</a>
                        {%elif user.is_staff%}
                        <a href="addpatient">Add patient</a>
                        {%endif%}
                    
            </div>
            <div class="rightside">
                {%if user.is_authenticated%}
                    <label for="">hello,{{user.first_name}}</label>
                    <a href="logout">logout</a>
                {%else%}
                    <a href="login">Login</a>
                {%endif%}
            </div>
        </div>
        
    </body>
</html>