{%load static%}
<!DOCTYPE html>
<html>
<head>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="{%static 'Styles/patientstyle.css'%}">
</head>
<body>
    <div class="titlebar">
        <div class="leftside">
                
                    <a href="/">Home</a>
                
                
                    <a href="doctors">Doctors</a>
               
               
                    <a href="about.html">about us</a>

                    {%if user.is_doctor%}
                    <a href ="patient">patient</a>
                    {%elif user.is_staff%}
                    <a href="addpatient">Add patient</a>
                    {%endif%}
                
        </div>
        <div class="rightside">
            {%if user.is_authenticated%}
                <label for="">hello,{{user.first_name}}</label>
                <a href="logout">logout</a>
            {%else%}
                <a href="login">Login</a>
            {%endif%}
        </div>
    </div>
    <form method="get">
    <div class="search-container">
        <div class="search-txt">
            <input type="text" placeholder="Type to search patient" name="id">
       
            <a href="#"class="search-btn">
            <i class="fas fa-search"></i>
            
            </a>
        </div>
        <div class="submit">
            <input type="button" value="search">
        </div>
    </div>
   
    </form>
    <div class="container">
        <table>
            <tr>
                <th>Patient id</th>
                <th>Patient name</th>
                <th>Gender</th>
                <th>Disease</th>
                <th>Prescribtion</th>
            </tr>
            <tr>
                <td>{{patient.id}}</td>
                <td>{{patient.firstname}}</td>
                <td>{{patient.Gender}}</td>
                <td>{{patient.Disease}}</td>
                <td>{{patient.prescribtion}}</td>
            </tr>
        </table>
        <form action="" method="POST">
            {%csrf_token%}
            <input type="text"placeholder="disease" name="disease">
            <input type="text" placeholder="prescribtion" name ="prescribtion">
            <input type="submit" value="save">
        </form>
    </div>
    <div class="messages">
        <h1>
        {%for message in messages%}
        {{message}}
        {%endfor%}
        </h1>
    </div>
</body>
</html>