
body{
    margin:0;
    padding:0;
    background: url(LoginBackground.jpg) no-repeat;
    background-size: cover;
    transition:0.8s;
    font-family: sans-serif;
}
.login-box{
    width: 480px;
    height: 500px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:white;
    background-color:black;
}

.login-box h1{
    text-transform: uppercase;
    float: left;
    font-size: 40px;
    border-bottom: 5px solid #8F52E7;
    margin-bottom: 50px;
    padding: 13px ;
    margin-left: 160px;
    
}
.textbox{
    width: 60%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 20px;
    border-bottom: 2px solid #362390;
    transition:0.8s;
}
.textbox:hover{
    width: 80%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 20px;
    border-bottom: 2px solid #362390;
    transition:0.9s;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;

}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin:10px;
}
.button{
    width: 30%;
    background: none;
    border: 2px solid #362390;
    color : white;
    padding 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top:30px;
    margin-left: 90px;
    text-transform: uppercase;
    transition:0.8s;

}
.button:hover{
    width: 50%;
    background-color: #362390;
    border: 2px solid #362390;
    color : white;
    padding 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top:30px;
    margin-left: 70px;
    text-transform: uppercase;
    transition: 0.8s;
}
.Entry{
    margin-top: 200px;
    margin-left:50px;
}
.titlebar{
    display:flex;
    justify-content: space-between;
    padding:20px;
    background-color:#403D3C;
}
.titlebar a{
    text-decoration:none;
    color:#BABABA;
    font-size:20px;
    text-transform: uppercase;
}

.titlebar a:hover{
    text-decoration:none;
    color:white;
    font-size:20px;
    text-transform: uppercase;
    border-bottom:1px solid white;
    transition:0.5s;
}
.link-wrapper a {
    text-decoration: none;
}
.link-wrapper a:hover {
    text-decoration: none;
    border-bottom:1px solid white;
    transition:0.5s;
}
.link-wrapper{
   margin-left :70px;

}