body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.titlebar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #362390;
    
}

.leftside a{
    color: white;
    font-size: 20px;
    text-decoration:none;
    text-transform: uppercase;
    margin-left:10px;
}
.leftside label{
    color: white;
    font-size: 20px;
    text-decoration:none;
    text-transform: uppercase;
    margin-left:10px;
}
.leftside a:hover{
    color: white;
    font-size: 20px;
    text-decoration:none;
    text-transform: uppercase;
    margin-left:10px;
    border-bottom:1px solid white;
    transition:0.5s;
}
.rightside a{
    color :whitesmoke;
    font-size:20px;
    text-decoration:none;
    text-transform: uppercase;
}
.rightside a:hover{
    color:white;
    font-size:20px;
    text-decoration:none;
    transition:0.5s;
    border-bottom:2px solid white;
}

.search-container{
   position:absolute;
  margin-top:30px;
  margin-left:1200px;
   background: #2f3640;
   height:40px;
   border-radius:40px;
   padding:10px;
   align-items: center;
}
.search-btn{
    color:#e84118;
    float: right;
    width: 40px;
    height:40px;
    border-radius:50%;
    background:#2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container input{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding:0;
    color:white;
    font-size: 16px;
    line-height: 40px;

}

.container {
    margin-top: 200px;

}


table{
    border: 1px solid black;
    width:1570px;
    
}
th{
    background: #01FFF5;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    
}
td{
    justify-content: center;
    height:100px;
    text-align: center;
    border-right:1px solid black;
}
h1{
    margin-left: 600px;
}